{# src/YL/CoreAppBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        'css/bootstrap.css'
        'css/font-awesome.css' %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    <div class="container">
        <div id="content" class="col-md-12">
            <div class="row">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

{% block javascripts %}
    {% javascripts
    'js/jquery.min.js'
    'js/jquery-ui.min.js'
    'js/bootstrap.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
